<!DOCTYPE html>
<html>
  <head>
    <title>Node Authentication</title>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <style>
      body {
        padding-top: 80px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="col-sm-6 col-sm-offset-3">
        <h1><span class="fa fa-sign-in"></span> Authorized Page</h1>

        <% if (message.length > 0) { %>
        <div class="alert alert-info"><%= message %></div>
        <% } %> <% if (apiKey.length > 0) { %>
        <div class="alert alert-info"><%= apiKey %></div>
        <% } %> <% if (email.length > 0) { %>
        <div class="alert alert-info"><%= email %></div>
        <% } %> <% if (role.length > 0) { %>
        <div class="alert alert-info"><%= role %></div>
        <% } %>

        <p>Want to exit?<a href="<%= URL %>/logout">Logout</a></p>
        <hr />
      </div>
    </div>
  </body>
</html>
